@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos no tamanho total dos elementos */
}

/* Estilo para o corpo do app, papel de parede */
body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    min-height: 100vh;
    background-image: url('http://localhost:3000/img/papeldeparede.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif; /* Fonte padrão do Material-UI */
  }

/* Estilo para a page home */
.home{ 
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;;   
    height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin: 0px;
    width: 50%;
    

}
.home h1 {
    font-size: 120px;
    margin-bottom: 20px;
    padding-top: 18%;
    font-family: 'Montez', cursive; /* Aplicando a fonte cursiva */
    color: rgb(0, 0, 0); /* Mantendo a cor */
}

/* Estilo para a page sobre */
.sobre{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: 100vh;
    text-align: center;
    padding: 20px;
    margin: 50px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.66);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.sobre h1 {
    font-size: 120px;
    margin-bottom: 20px;
    padding-top: 10%;
    font-family: 'Montez', cursive; /* Aplicando a fonte cursiva */
    color: rgb(0, 0, 0); /* Mantendo a cor */
}

.sobre p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montez', cursive; /* Aplicando a fonte cursiva */
    color: rgb(0, 0, 0); /* Mantendo a cor */
}

/* Estilo para a lista de livros */

.book-list-card{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 16px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.66);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra discreta */
}


.book-list-card ul  {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas de largura igual */
    gap: 16px; /* Espaçamento entre os itens */
}

/* Estilo para cada item da lista */
.book-list li {
    max-width: 100%; /* Ajusta para ocupar o espaço da coluna */
    background-color: #f9f9f979(5, 5, 5, 1); /* Cor de fundo da caixa */
    border: 3px solid #ddd; /* Borda da caixa */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 16px; /* Espaçamento interno */
    margin: 0; /* Remove margens extras */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    transition: transform 0.2s, box-shadow 0.2s; /* Animação ao passar o mouse */
}

.book-list li:hover {
    transform: scale(1.02); /* Leve aumento ao passar o mouse */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.50); /* Sombra mais forte ao passar o mouse */
    background-color: rgba(0, 0, 0, 0.195); /* Fundo mais escuro ao passar o mouse */
}

/* Estilo para o título */
.book-list h1 {
    font-size: 120px;
    margin-bottom: 20px;
    padding-top: 5%;
    font-family: 'Montez', cursive; /* Aplicando a fonte cursiva */
    color: rgb(0, 0, 0); /* Mantendo a cor */
}

.book-list h3 {
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 5%;
    font-family: 'Montez', cursive; /* Aplicando a fonte cursiva */
    color: rgb(0, 0, 0); /* Mantendo a cor */
}

/* Estilo para o texto de "Não há livros cadastrados" */
.book-list p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montez', cursive; /* Aplicando a fonte cursiva */
    color: rgb(0, 0, 0); /* Mantendo a cor */
}


/* estilo para o formulario de cadastro de livros */

.formulario-cadastro{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: 100vh;
    text-align: center;
    padding: 20px;
    margin: 50px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.66);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.titulo {
    font-size: 120px;
    margin-bottom: 20px;
    padding-top: 10%;
    font-family: 'Montez', cursive; /* Aplicando a fonte cursiva */
    color: rgb(0, 0, 0); /* Mantendo a cor */
}
.subtitulo {
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 5%;
    font-family: 'Montez', cursive; /* Aplicando a fonte cursiva */
    color: rgb(0, 0, 0); /* Mantendo a cor */
}
.formulario-cadastro p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montez', cursive; /* Aplicando a fonte cursiva */
    color: rgb(0, 0, 0); /* Mantendo a cor */
}